torch>=2.2.0 
#lightning @ git+https://github.com/Lightning-AI/lightning@ed367ca675861cdf40dbad2e4d66f7eee2ec50af
#jsonargparse[signatures]  # CLI
#bitsandbytes==0.41.0      # quantization
#scipy                     # required by bitsandbytes
#sentencepiece             # llama-based models
#tokenizers                # pythia, falcon, redpajama
#datasets                  # eval
#requests                  # scripts/prepare_*
#zstandard                 # scripts/prepare_redpajama.py, scripts/prepare_starcoder.py
#pandas                    # scripts/prepare_csv.py, scripts/prepare_starcoder.py
#pyarrow                   # scripts/prepare_starcoder.py