*
!/.dockerignore
!/Dockerfile.ci
!/LICENSE
!/README.md
!/alembic.ini
!/offload.toml
!/pyproject.toml
!/scripts
!/scripts/**
!/src
!/src/**
!/tests
!/tests/**
!/zen-dev
!/zen-dev/**
!/zen-test
!/zen-test/**
