# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# mkdocs documentation
docs/mkdocs/integration_code_docs
docs/mkdocs/core_code_docs
docs/mkdocs/index.md

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv*
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# JetBrains
.idea
__pycache__

# macOS specific
.DS_Store

# gitbook
!.gitbook.yaml

# all rst's
*.rst

# regression data
!examples/regression/data/boston_data.csv

# env variables
*.env

# poetry
*poetry.lock*

# pre-commit
!*.pre-commit-config.yaml

# scratchpad
scratchpad/

# zen
*.csv
temp/*
local_test/
.zen/
!cloudbuild.yaml
!cloudbuild-develop.yaml
docs/book/_build/
zenml_examples/

# GitHub Folder YAML files not to be ignored
!.github/ISSUE_TEMPLATE/**

# VS Code gunk
.vscode/

# pyenv local version file
.python-version

# wandb
**wandb/
!src/zenml/integrations/wandb

# some examples have yamls; don't ignore them
!examples/**/*.yaml

# stack recipes
test_terraform/

# feast registry database
examples/feast_feature_store/feast_feature_repo/data/registry.db

#neptune
*.neptune/

#generated folder by zenml
zenml_tutorial/

# script for testing
mlstacks_reset.sh

.local/
# PLEASE KEEP THIS LINE AT THE EOF: never include here src/zenml/zen_server/dashboard, since it is affecting release flow
