whylogs[viz]~=1.0.5
whylogs[whylabs]~=1.0.5
transformers<=4.31
datasets
tensorboard==2.13
protobuf>=3.6.0,<4.0.0
neuralprophet>=0.3.2,<0.5.0
holidays>=0.4.1,<0.25.0
discord.py>=2.3.2
aiohttp>=3.8.1
asyncio
deepchecks[vision]==0.8.0
torchvision>=0.14.0
pandas<2.0.0
opencv-python==4.5.5.64
opencv-python-headless==4.5.5.64
evidently>0.2.6,<0.4.5
apache-airflow~=2.4.0
xgboost>=1.0.0
slack-sdk>=3.16.1
aiohttp>=3.8.1
wandb>=0.12.12
Pillow>=9.1.0
neptune
pytorch_lightning
sagemaker==2.117.0
kubernetes
aws-profile-manager
great-expectations>=0.15.0,<=0.15.47
typing_extensions<4.6.0
openai>=0.27.0,<1.0.0
Pillow>=9.2.0
scipy
langchain==0.0.325
pyyaml>=6.0.1
lightgbm>=1.0.0
pyspark==3.2.1
facets-overview>=1.0.0
pandas
torch
pygithub
tensorflow==2.13
tensorflow_io>=0.24.0
protobuf>=3.6.0,<4.0.0
hvac>=0.11.2
scikit-learn<1.3
adlfs==2021.10.0
azure-keyvault-keys
azure-keyvault-secrets
azure-identity==1.10.0
azureml-core==1.48.0
azure-mgmt-containerservice>=20.0.0
azure-storage-blob==12.17.0
kubernetes
python-gitlab
kubernetes>=21.7,<26
s3fs>2022.3.0,<=2023.4.0
boto3<=1.26.76
aws-profile-manager
mlflow>=2.1.1,<=2.6.0
mlserver>=1.3.3
mlserver-mlflow>=1.3.3
pyyaml>=6.0.1
