absl-py==0.10.0
pip-check-reqs>=2.0.1,<3
click>=7.0,<8
setuptools>=38.4.0
nbformat>=5.0.4
panel==0.8.3
plotly==4.0.0
tabulate==0.8.7
numpy==1.18.0
httplib2==0.17.0
tfx==0.26.1
fire==0.3.1
gitpython==3.1.11
analytics-python==1.2.9
distro==1.5.0
tensorflow>=2.3.0,<2.4.0
tensorflow-serving-api==2.3.0


# docs
jupyter-book==0.9.1
matplotlib==3.3.3
ghp-import==1.0.0
jedi==0.17.2
sphinx==3.3.1
sphinx_bootstrap_theme==0.7.1
git+https://github.com/maiot-io/sphinx-book-theme.git
sphinxext-opengraph==0.3.1


# cortex
cortex==0.29.0

# gcp
apache-beam[gcp]==2.27.0
apache-beam==2.27.0
google-apitools==0.5.31

# pytorch
torch==1.7.0

# Beam nuggets for postgres
beam-nuggets==0.17.0
pg8000==1.16.5
sqlalchemy==1.3.22  # pinning due to `ImportError: cannot import name '_literal_as_text' from 'sqlalchemy.sql.expression' with `from beam_nuggets.io import relational_db`