# environment configuration
settings:
  docker:
    parent_image: "zenml-quickstart:0.64.0-py3.11"
#  orchestrator.vm_azure:
#    instance_type: 'Standard_NC6'

# configuration of the Model Control Plane
model:
  name: YeOldeEnglishTranslator
  description: Model to translate from old to modern english
  tags: ["quickstart", "llm", "t5"]

# Configure the pipeline
parameters:
  # model_type: "t5-small"  # Choose between t5-small and t5-large
  num_train_epochs: 3
  per_device_train_batch_size: 16
  gradient_accumulation_steps: 4
  dataloader_num_workers: 0

