apiVersion: v1
kind: Service
metadata:
  name: {{ name | k8s_name }}
  namespace: {{ namespace }}
  labels:
    app: {{ name | k8s_name }}
    managed-by: zenml
    {% if labels %}
    {% for key, value in labels.items() %}
    {{ key }}: {{ value | k8s_label_value | tojson }}
    {% endfor %}
    {% endif %}
spec:
  type: {{ service_type }}
  selector:
    app: {{ name | k8s_name }}
  ports:
    - port: {{ service_port }}
      targetPort: {{ target_port | default(service_port) }}
      protocol: TCP
      name: http
