{#
  Kubernetes Service Template
  
  This template creates a Service resource for exposing deployments.
  
  Required context variables:
    - name: Service name
    - namespace: Kubernetes namespace
    - service_type: Service type (LoadBalancer, NodePort, ClusterIP)
    - service_port: Port to expose
    
  Optional context variables:
    - labels: Additional labels
    - service_annotations: Service-specific annotations
    - node_port: Specific node port (for NodePort type)
    - session_affinity: Session affinity setting
    - load_balancer_ip: Static load balancer IP
    - load_balancer_source_ranges: CIDR blocks for LB access
    - target_port: Target port on pods (defaults to service_port)
#}
apiVersion: v1
kind: Service
metadata:
  name: {{ name | k8s_name }}
  namespace: {{ namespace }}
  labels:
    app: {{ name | k8s_name }}
    managed-by: zenml
    {% if labels %}
    {% for key, value in labels.items() %}
    {{ key }}: {{ value | k8s_label_value | tojson }}
    {% endfor %}
    {% endif %}
spec:
  type: {{ service_type }}
  selector:
    app: {{ name | k8s_name }}
  ports:
    - port: {{ service_port }}
      targetPort: {{ target_port | default(service_port) }}
      protocol: TCP
      name: http
{#
Advanced Customization Examples:
-------------------------------
Override this template by placing a custom service.yaml.j2 in your
custom_templates_dir. Below are examples of additional configurations:

1. Service Annotations (e.g., AWS Load Balancer configuration):
  metadata:
    annotations:
      service.beta.kubernetes.io/aws-load-balancer-type: "nlb"
      service.beta.kubernetes.io/aws-load-balancer-backend-protocol: "http"
      service.beta.kubernetes.io/aws-load-balancer-ssl-cert: "arn:aws:acm:..."
      service.beta.kubernetes.io/aws-load-balancer-ssl-ports: "443"

2. GCP Load Balancer:
  metadata:
    annotations:
      cloud.google.com/load-balancer-type: "Internal"
      cloud.google.com/backend-config: '{"default": "my-backendconfig"}'

3. Session Affinity (sticky sessions):
  spec:
    sessionAffinity: ClientIP
    sessionAffinityConfig:
      clientIP:
        timeoutSeconds: 10800  # 3 hours

4. Multiple Ports:
  spec:
    ports:
    - port: 8000
      targetPort: 8000
      protocol: TCP
      name: http
    - port: 9000
      targetPort: 9000
      protocol: TCP
      name: metrics

5. Specific Node Port:
  spec:
    type: NodePort
    ports:
    - port: 8000
      targetPort: 8000
      nodePort: 30080  # Specific port 30000-32767

6. LoadBalancer Source Ranges (IP whitelist):
  spec:
    loadBalancerSourceRanges:
    - "10.0.0.0/8"  # Private network only
    - "203.0.113.0/24"  # Specific public IPs

All context variables available:
- name, namespace, labels, service_annotations
- service_type, service_port, target_port
- node_port, session_affinity
- load_balancer_ip, load_balancer_source_ranges
#}

