# Uncomment the following lines when running Kubernetes outside
# Google Kubernetes Engine (see
# https://kubernetes.io/docs/tasks/configure-pod-container/configure-persistent-volume-storage/
# and https://github.com/kubernetes/website/issues/10697)

apiVersion: v1
kind: PersistentVolume
metadata:
  name: mysql-pv-volume
  labels:
    type: local
spec:
  storageClassName: manual
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/mnt/data"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mysql-pv-claim
spec:
# # Uncomment the following line when running Kubernetes outside
# # Google Kubernetes Engine.
  storageClassName: manual
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
