---
name: release-finalize
on:
  workflow_dispatch:
    inputs:
      latest_version:
        description: The latest version of ZenML
        required: true
        type: string
      new_version:
        description: The new version of ZenML
        required: true
        type: string
env:
  ZENML_ANALYTICS_OPT_IN: false
  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
jobs:
  create-release-branch:
    runs-on: ubuntu-latest
    steps:
      # Configure Git
      - name: Configure git
        shell: bash
        run: |
          git config --global user.email "info@zenml.io"
          git config --global user.name "ZenML GmbH"
      # Check out develop
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          ref: develop
      # Create the release branch
      - name: Release branch
        run: |
          git pull
          git checkout -b release/${GITHUB_EVENT_INPUTS_NEW_VERSION}
          git push --set-upstream origin release/${GITHUB_EVENT_INPUTS_NEW_VERSION}
        env:
          GITHUB_EVENT_INPUTS_NEW_VERSION: ${{ github.event.inputs.new_version }}
  add-docs-warning-header:
    runs-on: ubuntu-latest
    steps:
      # Configure Git
      - name: Configure git
        shell: bash
        run: |
          git config --global user.email "info@zenml.io"
          git config --global user.name "ZenML GmbH"
      # Check out the previous release branch
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          ref: release/${{ github.event.inputs.latest_version }}
      # Create the docs update PR
      - name: Create docs update PR
        shell: bash
        run: |
          git pull
          bash scripts/add-docs-warning.sh ${GITHUB_EVENT_INPUTS_LATEST_VERSION}
        env:
          GITHUB_EVENT_INPUTS_LATEST_VERSION: ${{ github.event.inputs.latest_version }}
  add-new-version-to-migration-tests:
    runs-on: ubuntu-latest
    steps:
      # Configure Git
      - name: Configure git
        shell: bash
        run: |
          git config --global user.email "info@zenml.io"
          git config --global user.name "ZenML GmbH"
      # Check out develop
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          ref: develop
      - name: Set up Python
        uses: actions/setup-python@e9aba2c848f5ebd159c070c61ea2c4e2b122355e # v2
        with:
          python-version: '3.12'
      - name: Install ZenML
        run: |
          scripts/install-zenml-dev.sh --system --integrations "no"
      # Create the migration test version if necessary
      - name: Create migration test version
        shell: bash
        run: |-
          git pull
          bash scripts/add-migration-test-version.sh ${GITHUB_EVENT_INPUTS_LATEST_VERSION} ${GITHUB_EVENT_INPUTS_NEW_VERSION}
        env:
          GITHUB_EVENT_INPUTS_LATEST_VERSION: ${{ github.event.inputs.latest_version }}
          GITHUB_EVENT_INPUTS_NEW_VERSION: ${{ github.event.inputs.new_version }}
  add-legacy-docs-version:
    runs-on: ubuntu-latest
    steps:
      # Configure Git
      - name: Configure git
        shell: bash
        run: |
          git config --global user.email "info@zenml.io"
          git config --global user.name "ZenML GmbH"
      # Check out develop
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          ref: develop
      - name: Set up Python
        uses: actions/setup-python@e9aba2c848f5ebd159c070c61ea2c4e2b122355e # v2
        with:
          python-version: '3.12'
      # Run script to add version to legacy docs
      - name: Add version to legacy docs
        run: |
          git checkout -b legacy_docs_update_${GITHUB_EVENT_INPUTS_LATEST_VERSION}
          python scripts/add_version_to_legacy_docs.py ${GITHUB_EVENT_INPUTS_LATEST_VERSION}
        env:
          GITHUB_EVENT_INPUTS_LATEST_VERSION: ${{ github.event.inputs.latest_version }}
      # Commit and push changes
      - name: Commit and push changes
        run: |
          git add docs/book/reference/legacy-docs.md
          git commit -m "Add version ${GITHUB_EVENT_INPUTS_LATEST_VERSION} to legacy docs"
          git push --set-upstream origin legacy_docs_update_${GITHUB_EVENT_INPUTS_LATEST_VERSION}
        env:
          GITHUB_EVENT_INPUTS_LATEST_VERSION: ${{ github.event.inputs.latest_version }}
      # Create PR
      - name: Create PR
        run: |
          gh pr create --title "Add version ${GITHUB_EVENT_INPUTS_LATEST_VERSION} to legacy docs" \
                      --body "This PR adds version ${GITHUB_EVENT_INPUTS_LATEST_VERSION} to the legacy documentation reference table." \
                      --base develop \
                      --head legacy_docs_update_${GITHUB_EVENT_INPUTS_LATEST_VERSION} \
                      --label "no-release-notes"
        env:
          GITHUB_EVENT_INPUTS_LATEST_VERSION: ${{ github.event.inputs.latest_version }}
