---
name: Spellcheck
on:
  workflow_dispatch:
  workflow_call:
  push:
    branches: [main]
    paths-ignore: ['*', '!pyproject.toml']
  pull_request:
    types: [opened, synchronize, ready_for_review]
    paths-ignore: ['*', '!pyproject.toml']
concurrency:
  # New commit on branch cancels running workflows of the same branch
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  spellcheck:
    if: github.event.pull_request.draft == false && github.repository == 'zenml-io/zenml'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683  # v4.2.2
      - name: Spelling checker
        uses: crate-ci/typos@2361394247a38536a5f2376a05181ca001dd9e26  # v1.17.0
        with:
          files: .
          config: ./.typos.toml
