name: Validate changelog.json

on:
  pull_request:
    paths:
      - "changelog.json"

jobs:
  verify-changelog-json:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Validate changelog.json against announcement-schema.json
        uses: cardinalby/schema-validator-action@v3
        with:
          file: "./changelog.json"
          schema: "./scripts/announcement-schema.json"
