zenml[server]==0.65.0
notebook
pyarrow
datasets
transformers
transformers[torch]
torch
sentencepiece
protobuf
adlfs>=2021.10.0 
azure-keyvault-keys 
azure-keyvault-secrets 
azure-identity 
azureml-core==1.56.0 
azure-mgmt-containerservice>=20.0.0 
azure-storage-blob==12.17.0 
azure-ai-ml==1.18.0 
kubernetes
